.App {
  text-align: center;
}
.App-header {
  background-color: #300a24;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.anchor{
  text-decoration: none;
  color: #fead0d;
}
.button{
  background-color: #003366 !important;
  border-color :#003366 !important;
}
.badge{
  border-radius: 15.25rem !important;
}
